[submodule "stk/vendor/phpBB"]
	path = stk/vendor/phpBB
	url = git://github.com/phpbb/phpbb3.git
[submodule "stk/vendor/UMIL"]
	path = stk/vendor/UMIL
	url = git://github.com/phpbb/umil.git
[submodule "stk/vendor/Pimple"]
	path = stk/vendor/Pimple
	url = git://github.com/fabpot/Pimple.git
[submodule "stk/vendor/MODX"]
	path = stk/vendor/MODX
	url = git://github.com/phpbb/modx.git
