/*  Support Toolkit Style Sheet
	------------------------------------------------------------------------
	Copyright 2012 phpBB Group ( http://www.phpbb.com/ )
	------------------------------------------------------------------------
	Adds/edits styling rules
*/

#page-header, .rtl #page-header {
	height: 50px;
	background: url("../images/support_toolkit_logo_trans.png") top left no-repeat;
}

.errorbox, .successbox {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}