<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<!--
						This seems a rather nasty thing, but it turns out that
						IIS can't handle setting a rule on the same file twice,
						hence we first remove the rules we know for sure that
						they are set by phpBB and than reset those statements
						for the Support Toolkit.
						Bug: #62679
					-->
					<remove segment="config.php" />
					<remove segment="common.php" />

					<!-- STK rules -->
					<add segment="config.php" />
					<add segment="common.php" />
				</hiddenSegments>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>